In [1]:
import numpy as np
import pandas as pd
from scipy import sparse
import sys
import time

In [2]:
st = time.perf_counter()

emb_path = "/data/sg/authordynamics/data/scisci/embeddings/paper_embedding~c379080bfadbae77a7893eb56d052551_model~instemb.npz"
emb = np.load(emb_path)["emb"] # Embedding data of papers

end = time.perf_counter()
end - st

FileNotFoundError: [Errno 2] No such file or directory: '/data/sg/authordynamics/data/scisci/embeddings/paper_embedding~c379080bfadbae77a7893eb56d052551_model~instemb.npz'

In [ ]:
st = time.perf_counter()

file_path = "/data/sg/authordynamics/data/derived/preprocessed/scisci/paper_table.csv" # papers' metadata

df = pd.read_csv(file_path)

paper_id_column = df["paper_id"] # paper_id indicates index of embedding array

end = time.perf_counter()
end - st

In [13]:
keyword2paper_file = "/data/sg/authordynamics/data/derived/preprocessed/scisci/keywords/keyword2paper_keyword~wos.npz"
# Ground truth subject categories

keyword2paper_net = sparse.csr_matrix(sparse.load_npz(keyword2paper_file))

In [14]:
np.shape(emb)

(95565418, 256)

In [16]:
df.head()

,PaperID,doi,title,year,date,journal_id,paper_id
0,2789336,NaN,Inheritance and Polymorphism in Datalog: an ex...,2008,2008-01-01,8176,0
1,9552966,NaN,The effect of milk on plasmatic and tissue lev...,2005,2005-05-01,21619,1
2,2769674369,NaN,The effect of milk on plasmatic and tissue lev...,2005,2005-01-01,27200,2
3,14355006,NaN,Realizing the Asian Century: A Strategic Frame...,2011,2011-01-01,15452,3
4,2953327271,NaN,The Adaptive Priority Queue with Elimination a...,2014,2014-08-05,5636,4

In [23]:
su=0
for i in range(keyword2paper_net.shape[0]):
    x = np.sum(keyword2paper_net[i])
    print(x)
    su+=x

283561
44493
66553
362364
261907
138701
95740
13990
273672
694803
40933
230550
169866
441581
1834892
61435
317626
143911
366981
1104104
50913
466886
4610205
1099920
1174543
177031
261742
69154
367076
347548
117533
318867
118274
146737
136274
577059
253632
2673692
270683
435178
176800
74351
241351
134617
721722
368794
313535
100259
96132
393997
151466
133881
323187
412645
107549
104687
7183
674388
234283
208621
50413
18376
314
298566
1413398
38333
1204246
215182
26455
8630
139383
2258299
144178
201177
492509
22015
24943
5504
1410668
39226
217818
9627
690064
113982
352245
267767
473834
42948
1468447
116159
523862
519930
61647
335739
165569
55835
136649
214105
545606
139070
704638
1874401
214908
700496
340334
83481
355270
82137
628625
4084
511196
141855
40077
26942
168252
179589
18030
108357
89349
175187
215400
84335
624133
35798
316619
178573
34256
19122
5114
423073
445431
147496
241354
220538

In [27]:
su, keyword2paper_net.shape[1], # Only half of the papers have ground truth subject categories

(49501226, 95565418)

In [30]:
community_table = pd.DataFrame(keyword2paper_net.T)  # Assuming subject categories are indexed from 1 to 130

# Find the index of the maximum value (subject category) for each paper
community_table['community_id'] = community_table.idxmax(axis=1)

In [31]:
community_table.head()

              0  community_id
0    (0, 66)\t1             0
1                           0
2                           0
3                           0
4                           0